* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

:root {
    --bool-violaceo:#9c72e4;
    --bool-azzurrino:#47adf1;
    --bool-arancio:#f29e33;
    --bool-verdeacqua:#64c0a9;
    --bool-rosa:#d863a1;
    --bool-verde:#b0c926;
    --bool-grigio:#e8e9ea;
}

.logo_toboolist {
    height: 80px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
}

.immagine {
    height: 50px;
}


.titolo {
    display: inline-block;
    vertical-align: 15px;
    height: 50px;
}
/*fine header*/

.bottoni {
    height: 80px;
    background-color: white;
    margin-bottom: 2px;
    padding-top: 20px;

}

.button {
    padding: 10px;
    border-radius: 15%;
}

.a {
    background-color: var(--bool-azzurrino);
    border: none;
    color: white;
}

.b {
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
}
/*fine button*/

section {
    margin-top: 40px;
}

.v {
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    padding: 3px;
}

.r {
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    padding: 3px; 
}

.sottosezioni {
    margin-top: 20px;
}
/*fine prima sezione*/

.viola {
    background-color: var(--bool-violaceo);
    border: none;
    color: white;
}

.verde {
    background-color: var(--bool-verdeacqua);
    border: none;
    color: white;
}

.verdognolo {
    background-color: var(--bool-verde);
    border: none;
    color: white;
}

.rosa{
    background-color: var(--bool-rosa);
    border: none;
    color: white;
}

.arancio {
    background-color: var(--bool-arancio);
    border: none;
    color: white;
}

main {
    width: 90%;
    margin: auto;
}

.container {
    padding-left: 80px;
    background-color: white;
}

.due {
    padding-top: 20px;
}